<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaekdam.gaekdambe.communication_service.messaging.query.mapper.MessageSendHistoryMapper">

    <select id="findHistories"
            resultType="com.gaekdam.gaekdambe.communication_service.messaging.query.dto.response.MessageSendHistoryResponse">

        SELECT
        h.send_code            AS sendCode,
        h.stage_code           AS stageCode,
        s.stage_name_kor       AS stageName,
        h.reservation_code     AS reservationCode,
        h.stay_code            AS stayCode,
        h.rule_code            AS ruleCode,
        h.template_code        AS templateCode,

        t.title                AS messageTitle,
        t.content              AS messageContent,

        h.scheduled_at         AS scheduledAt,
        h.sent_at              AS sentAt,
        h.status               AS status,
        h.fail_reason          AS failReason,
        h.external_message_id  AS externalMessageId

        FROM message_send_history h
        JOIN message_template t
        ON h.template_code = t.template_code
        JOIN message_journey_stage s
        ON h.stage_code = s.stage_code

        <where>
            <if test="search != null">

                <if test="search.stageCode != null">
                    AND h.stage_code = #{search.stageCode}
                </if>

                <if test="search.reservationCode != null">
                    AND h.reservation_code = #{search.reservationCode}
                </if>

                <if test="search.stayCode != null">
                    AND h.stay_code = #{search.stayCode}
                </if>

                <if test="search.status != null">
                    AND h.status = #{search.status}
                </if>

                <if test="search.fromDate != null">
                    AND h.scheduled_at <![CDATA[ >= ]]> #{search.fromDate}
                </if>

                <if test="search.toDate != null">
                    AND h.scheduled_at <![CDATA[ <= ]]> #{search.toDate}
                </if>

            </if>
        </where>

        <if test="sort != null and sort.sortBy != null">
            ORDER BY ${sort.sortBy} ${sort.direction}
        </if>

        LIMIT #{page.size} OFFSET #{page.offset}
    </select>
    <select id="countHistories" resultType="long">
        SELECT COUNT(*)
        FROM message_send_history
        <where>
            <if test="search != null">

                <if test="search.stageCode != null">
                    AND stage_code = #{search.stageCode}
                </if>

                <if test="search.reservationCode != null">
                    AND reservation_code = #{search.reservationCode}
                </if>

                <if test="search.stayCode != null">
                    AND stay_code = #{search.stayCode}
                </if>

                <if test="search.status != null">
                    AND status = #{search.status}
                </if>

                <if test="search.fromDate != null">
                    AND scheduled_at <![CDATA[ >= ]]> #{search.fromDate}
                </if>

                <if test="search.toDate != null">
                    AND scheduled_at <![CDATA[ <= ]]> #{search.toDate}
                </if>

            </if>
        </where>
    </select>

</mapper>
