<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaekdam.gaekdambe.communication_service.messaging.query.mapper.MessageStageQueryMapper">

    <select id="findStageNameEng" resultType="string">
        SELECT stage_name_eng
        FROM message_journey_stage
        WHERE stage_code = #{stageCode}
    </select>

</mapper>
