<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaekdam.gaekdambe.communication_service.messaging.query.mapper.MessageSendHistoryMapper">

    <select id="findHistories"
            resultType="com.gaekdam.gaekdambe.communication_service.messaging.query.dto.response.MessageSendHistoryResponse">

        SELECT
        t.sendCode,
        t.stageCode,
        t.stageNameKor,
        t.templateCode,
        t.templateTitle,
        t.reservationCode,
        t.stayCode,
        t.status,
        t.scheduledAt,
        t.sentAt,
        t.failReason,
        t.externalMessageId
        FROM (
        SELECT
        h.send_code        AS sendCode,
        h.stage_code       AS stageCode,
        s.stage_name_kor   AS stageNameKor,

        h.template_code    AS templateCode,
        mt.title           AS templateTitle,

        h.reservation_code AS reservationCode,
        h.stay_code        AS stayCode,

        h.status           AS status,
        h.scheduled_at     AS scheduledAt,
        h.sent_at          AS sentAt,
        h.fail_reason      AS failReason,
        h.external_message_id AS externalMessageId,

        p.property_code    AS propertyCode
        FROM message_send_history h
        JOIN message_journey_stage s
        ON h.stage_code = s.stage_code
        JOIN message_template mt
        ON h.template_code = mt.template_code
        JOIN property p
        ON mt.property_code = p.property_code
        WHERE p.hotel_group_code = #{search.hotelGroupCode}
        ) t
        WHERE 1 = 1

        <if test="search.propertyCode != null">
            AND t.propertyCode = #{search.propertyCode}
        </if>

        <if test="search.stageCode != null">
            AND t.stageCode = #{search.stageCode}
        </if>

        <if test="search.reservationCode != null">
            AND t.reservationCode = #{search.reservationCode}
        </if>

        <if test="search.stayCode != null">
            AND t.stayCode = #{search.stayCode}
        </if>

        <if test="search.status != null">
            AND t.status = #{search.status}
        </if>

        <if test="search.fromDate != null">
            AND t.sentAt <![CDATA[ >= ]]> #{search.fromDate}
        </if>

        <if test="search.toDate != null">
            AND t.sentAt <![CDATA[ <= ]]> #{search.toDate}
        </if>

        ORDER BY ${sort.sortBy} ${sort.direction}
        LIMIT #{page.size}
        OFFSET #{page.offset}
    </select>


    <select id="countHistories" resultType="long">
        SELECT COUNT(*)
        FROM (
        SELECT
        h.send_code AS sendCode,
        p.property_code AS propertyCode
        FROM message_send_history h
        JOIN message_template mt
        ON h.template_code = mt.template_code
        JOIN property p
        ON mt.property_code = p.property_code
        WHERE p.hotel_group_code = #{search.hotelGroupCode}
        ) t
        WHERE 1 = 1

        <if test="search.propertyCode != null">
            AND t.propertyCode = #{search.propertyCode}
        </if>
    </select>

</mapper>
