server:
  port: ${SERVER_PORT:8082}

spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail.smtp:
        auth: true
        timeout: 5000
        starttls.enable: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD:}

  flyway:
    enabled: false

  jpa:
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
          batch_size: 500
        order_inserts: true
        order_updates: true
        format_sql: false
        show_sql: false

  sql:
    init:
      mode: never

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:/mappers/**/*.xml
  type-aliases-package: com.gaekdam.gaekdambe.**

jwt:
  secret-b64: ${JWT_SECRET_B64}
  access-expiration: 900000
  refresh-expiration: 259200000

crypto:
  hmac:
    pepper-b64: ${CRYPTO_HMAC_PEPPER_B64}
  local-kek:
    key-b64: ${CRYPTO_LOCAL_KEK_B64}

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
  health:
    redis.enabled: true
    db.enabled: true



