server:
  port: 8082

spring:
  mvc:
    servlet:
      load-on-startup: 1

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      url: rediss://${REDIS_HOST}:${REDIS_PORT}
      timeout: 3s

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  cookie:
    secure: true
    same-site: None
