server:
  port: 8082

spring:
  mvc:
    servlet:
      load-on-startup: 1

  jpa:
    hibernate:
      ddl-auto: validate

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
      ssl:
        enabled: true
        protocols: TLSv1.2
      timeout: 3s

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

app:
  cookie:
    secure: true
    same-site: None
