<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gaekdam.gaekdambe.operation_service.facility.query.mapper.FacilityUsageMapper">

    <!-- =========================
         부대시설 이용내역 조회
         ========================= -->
    <select id="findFacilityUsages"
            resultType="com.gaekdam.gaekdambe.operation_service.facility.query.dto.response.FacilityUsageResponse">

        SELECT
        facility_usage_code AS facilityUsageCode,
        usage_at AS usageAt,
        usage_type AS usageType,
        used_person_count AS usedPersonCount,
        usage_quantity AS usageQuantity,
        usage_price AS usagePrice,
        price_source AS priceSource,
        stay_code AS stayCode,
        facility_code AS facilityCode
        FROM facility_usage

        <where>
            <if test="search != null">

                <if test="search.stayCode != null">
                    AND stay_code = #{search.stayCode}
                </if>

                <if test="search.facilityCode != null">
                    AND facility_code = #{search.facilityCode}
                </if>

                <if test="search.usageType != null and search.usageType != ''">
                    AND usage_type = #{search.usageType}
                </if>

                <if test="search.priceSource != null and search.priceSource != ''">
                    AND price_source = #{search.priceSource}
                </if>

                <if test="search.fromDate != null">
                    AND usage_at <![CDATA[ >= ]]> #{search.fromDate}
                </if>

                <if test="search.toDate != null">
                    AND usage_at <![CDATA[ <= ]]> #{search.toDate}
                </if>

            </if>
        </where>

        <if test="sort != null and sort.sortBy != null">
            ORDER BY ${sort.sortBy} ${sort.direction}
        </if>

        LIMIT #{page.size} OFFSET #{page.offset}
    </select>

    <!-- =========================
         총 개수
         ========================= -->
    <select id="countFacilityUsages" resultType="long">
        SELECT COUNT(*)
        FROM facility_usage
        <where>
            <if test="search != null">

                <if test="search.stayCode != null">
                    AND stay_code = #{search.stayCode}
                </if>

                <if test="search.facilityCode != null">
                    AND facility_code = #{search.facilityCode}
                </if>

                <if test="search.usageType != null and search.usageType != ''">
                    AND usage_type = #{search.usageType}
                </if>

                <if test="search.priceSource != null and search.priceSource != ''">
                    AND price_source = #{search.priceSource}
                </if>

                <if test="search.fromDate != null">
                    AND usage_at <![CDATA[ >= ]]> #{search.fromDate}
                </if>

                <if test="search.toDate != null">
                    AND usage_at <![CDATA[ <= ]]> #{search.toDate}
                </if>

            </if>
        </where>
    </select>

</mapper>
