<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaekdam.gaekdambe.analytics_service.report.dashboard.command.mapper.ReportCUSTCountryFactMapper">

    <resultMap id="ReportCUSTCountryFactResult" type="com.gaekdam.gaekdambe.analytics_service.report.dashboard.command.domain.entity.ReportCUSTCountryFact">
        <result property="kpiDate" column="kpi_date" />
        <result property="hotelGroupCode" column="hotel_group_code" />
        <result property="countryCode" column="country_code" />
        <result property="guestCount" column="guest_count" />
        <result property="revenueAmount" column="revenue_amount" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <select id="findByDateAndGroup" resultMap="ReportCUSTCountryFactResult">
        SELECT * FROM ReportCUSTCountryFact WHERE kpi_date = #{kpiDate} AND hotel_group_code = #{hotelGroupCode}
    </select>

</mapper>
