name: Create Release

on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: release-${{ github.run_number }}
          name: release-${{ github.run_number }}
          prerelease: false
          generate_release_notes: true
