name: Create Release

on:
  push:
    branches: ["develop"]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: develop-release-${{ github.run_number }}
          name: develop-release-${{ github.run_number }}
          prerelease: true
          generate_release_notes: true
